body{
width:100%;
}

h3{
	text-align: center;
}

#box{
	text-align: center;
	border:solid thin black;
	box-shadow: .2em .2em .2em;
	background: #393939;
	opacity:.8;
	margin-right: 25%;
	margin-left:25%;
	height:40%;
}
#box a{
	text-decoration: none;
	color:#eee;
}

#box a:visited{
	color:#eee;
}

#box a:hover{
	color:orange;
}
#doge{
	height: 75px;
	margin:40px 0px 0px 40px;
}

.pdf_form{
	float:left;
	width:16%;
	text-align: right;
}

